button{
    width: 200px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
}

.boton-clic{
    background-color: #42b880;
}

.boton-reiniciar{
    background-color: #242424;
}